{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">{% block header%}Posts{% endblock %}</h1>
<div id="posts">
    {% for post in posts %}
<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center rows="5" cols="50">
    <a href="/posts/{{post.user.username}}">{{ post.user.username }}</a>
        
    <div>
        {{post.votes|length}}
        {% if user.id in post.votes|map(attribute="author")|list%}
        <a href="/vote_post/{{post.id}}"><i <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
        {%else%}
        <a href="/vote_post/{{post.id}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
        {%endif%}
        {% if user.id==post.author%}
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success dropdown-toggle"
            data-bs-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li><a href="/delete_post/{{post.id}}" class="dropdown-item"> Delete</a></li>
                </ul>
        </div>
        {% endif %}
        </div>
        </div>
    <div class="card-body rows="10" cols="20">
        <h5 class="card-title text-uppercase text-success text-font-bold">{{ post.title }}</h5>
        <p class="card-text">{{ post.text }}</p>
        <br />
    </div>
        <div class="collapse" id="comments-{{post.id}}">
            <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">
                {% for comment in post.comments %}
            <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="/posts/{{comment.user.username}}">{{ comment.user.username }}</a>
                :{{ comment.text }}
            </div>
            <div>
                <small class="text-muted">{{comment.date_created.strftime('%Y-%m-%d')}}</small>
                    {% if user.id==comment.author or user.id == post.author%}
                    
                </div>
                <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success dropdown-toggle"
                    data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li><a href="/delete_comment/{{comment.id}}" class="dropdown-item"> Delete</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
    <p class="card-text">
        {% if post.comments|length > 0%}
        <a data-bs-toggle="collapse" href="#comments-{{ post.id }}" role="button">
            <small> See {{ post.comments|length}} comments</small>
        </a>
        {%else%}
            <small class="text-muted"> No comments yet!</small>
        {% endif %}
        </p>
        <form class="input-group mb-3" method="POST" action="/create_comment/{{post.id}}">
            <input type="text" id="text" name="text" class="form-control" placeholder="Leave comment!"> <br />
            <button type="submit" class="btn btn-outline-info">Comment:</button>
        </form>
    </div>
    <div class="card-footer text-muted">{{post.date_created.strftime('%Y-%m-%d')}}
    </div>
    {% endfor%}
</div>
<br />
{%block footer%}
<div align="center"> <br/>
    <a href="/create_post" class="btn btn-lg btn-primary">Add blog post</a>
</div>
<footer class="footer">
    <div class="container pt-lg-5">
      <span class="text-muted">&copy; {{ current_year }}Karen Koech</span>
{% endblock %}
{% endblock %}